{% extends 'emails/base_email.html.twig' %}

{% block content %}
    <p>{{ 'email.forget_password.content.hello'|trans }} {{ user.fullName }},<br>

        {{ 'email.forget_password.content.sentence_before_button'|trans }}<br><br>
    </p>
{% endblock %}
