//
// Variables
//
// You can override the default values by setting the variables in your Sass
// before importing the normalize-scss library.

// The font size set on the root html element.
$base-font-size: 12px;

// The base line height dethermines the basic unit of vertical rhythm.
$base-line-height: $base-font-size * 1.4;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'em';

// The default font family.
$base-font-family: $font-primary;

// The font sizes for h1-h6.
$h1-font-size: 1 * $base-font-size;
$h2-font-size: 1 * $base-font-size;
$h3-font-size: 1 * $base-font-size;
$h4-font-size: 1 * $base-font-size;
$h5-font-size: 1 * $base-font-size;
$h6-font-size: 1 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 0;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: false;
