<div class="intro">
    <h2 class="title">{{ createOrReset }} your password</h2>
    <p class="subtitle">We'll help you to {{ createOrReset }} your password to access tool</p>
</div>

<form [formGroup]="form" (ngSubmit)="reset()" autocomplete="off" novalidate>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" placeholder="Your password">

    <label for="passwordConfirm">Confirm Password</label>
    <input id="passwordConfirm" formControlName="passwordConfirm" type="password" placeholder="Your password">

    <p *ngIf="form.hasError('passwordsDoesntMatch')" class="error">
        Passwords are not the same.
    </p>
    <p *ngIf="tokenError.length" class="error">
        {{ tokenError }}
    </p>
    <ng-container *ngFor="let error of errors" class="errors-container">
        <p class="error">{{ error.message }}</p>
    </ng-container>

    <div class="align-right">
        <button [disabled]="form.invalid || loading">
            <i class="icon-flecheDroite"></i> Validate
        </button>
    </div>
</form>