<div class="auth-container">

  <div class="auth-left">
    <div class="text">
      <p class="citation">
        <!-- « Nos engagements à établir de fortes relations avec nos clients et à satisfaire les besoins sociétaux nous conduisent à fournir des solutions innovantes. » -->
      </p>
      <!-- <p class="name">Mike GRAGTMANS</p> -->
      <!-- <p class="position">Division General Manager Performance Polymer Depart.</p> -->
      </div>
    </div>

    <div class="auth-right">
      <div class="mba mla"></div>

      <div class="auth-modules mba">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
