@import "core";

:host {
  display: block;
  width: 100%;

  form {
    input {
      margin-bottom: 40px;
      margin-top: 6px;
    }

    .error {
      margin-top: -32px;
      margin-bottom: 8px;
      color: $error;
    }
  }

  .intro {
    margin-bottom: 27px;

    .title {
      font-family: $secondary-font;
      font-weight: $semi-bold;
      font-size: 36px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $deep-sea;
    }

    .subtitle  {
      font-weight: $semi-bold;
      font-size: 19px;
      line-height: 23px;
      padding-bottom: 26px;
      color: $deep-sea;
    }
  }

  .align-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
