<div class="intro">
    <h2 class="title">Forgot your password?</h2>
    <p class="subtitle">We'll help you reset it and get back on track</p>
</div>

<form [formGroup]="form" (ngSubmit)="forgot()" autocomplete="off" novalidate>
    <label for="username">Mail</label>
    <input id="username" formControlName="username" placeholder="Your mail">

    <p *ngIf="error.length" class="error" id="apiError">
        {{ error }}
    </p>

    <div class="align-right">
        <button [disabled]="form.invalid || loading">
            <i class="icon-flecheDroite"></i> Reset password
        </button>
    </div>
</form>