@import '../../../style/main';

[data-component='login'] {
  h2 {
    margin-bottom: 6rem;
  }

  .logo {
    height: 48px;
    background-image: url('/logo.svg');
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
}
