{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["jsx-a11y", "prettier", "fp", "ramda"],

  "rules": {
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types":0,
    "prettier/prettier": "error",
    "fp/no-rest-parameters": "off",
    "fp/no-arguments": "warn",
    "fp/no-class": "warn",
    "fp/no-delete": "warn",
    "fp/no-events": "warn",
    "fp/no-get-set": "warn",
    "fp/no-let": "warn",
    "fp/no-loops": "warn",
    "fp/no-mutating-assign": "warn",
    "fp/no-mutating-methods": "off",
    "fp/no-nil": "off",
    "fp/no-proxy": "warn",
    "fp/no-this": "warn",
    "fp/no-throw": "warn",
    "fp/no-unused-expression": "off",
    "fp/no-valueof-field": "warn",
    "no-var": "warn",
    "ramda/always-simplification": "warn",
    "ramda/any-pass-simplification": "warn",
    "ramda/both-simplification": "warn",
    "ramda/complement-simplification": "warn",
    "ramda/compose-pipe-style": "off",
    "ramda/compose-simplification": "warn",
    "ramda/cond-simplification": "warn",
    "ramda/either-simplification": "warn",
    "ramda/eq-by-simplification": "warn",
    "ramda/filter-simplification": "off",
    "ramda/if-else-simplification": "warn",
    "ramda/map-simplification": "off",
    "ramda/merge-simplification": "warn",
    "ramda/no-redundant-and": "warn",
    "ramda/no-redundant-not": "warn",
    "ramda/no-redundant-or": "warn",
    "ramda/pipe-simplification": "warn",
    "ramda/prefer-both-either": "warn",
    "ramda/prefer-complement": "warn",
    "ramda/prefer-ramda-boolean": "warn",
    "ramda/prop-satisfies-simplification": "warn",
    "ramda/reduce-simplification": "warn",
    "ramda/reject-simplification": "warn",
    "ramda/set-simplification": "warn",
    "ramda/unless-simplification": "warn",
    "ramda/when-simplification": "warn"
  }
}
